body {
    color: #17a2b8;
    overflow-x: hidden;
    height: 100%;
    background-color: #17a2b8;
    background-repeat: no-repeat;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;

}
.weather-header{
    font-family: 'Rubik', sans-serif;
    font-weight: bold;
}
.weather-card {
    width: 400px;
    background-color: #e3f2f4;
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: 0.25rem;
    padding-top: 1.5rem;
    border: 0;
    
}

.block.active, .block:hover {
    background-color: #ccecf1;
}

.city-symbol {
    width: 200px;
    height: 250px;
}

.large-font {
    font-size: 60px;
}

.symbol-img {
    width: 40px;
    height: 40px;
}

@media screen and (max-width: 400px) {
    .card {
        width: 92%;
    }
}

.main-container {
    margin-left: auto!important;
    margin-right: auto!important;
    padding-bottom: 3rem!important;
    padding-top: 3rem!important;
    padding-left: 0.25rem!important;
    padding-right: 0.25rem!important;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    padding-top: 3rem;
}

.weather-display {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    justify-content: center;
}


*, ::after, ::before {
    box-sizing: border-box;
}

div {
    display: block;
}


.justify-content-center {
    justify-content: center!important;
}

.dis {
    display: flex!important;
}

 .row {
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
} 

.text-center {
    text-align: center!important;
}

.pt-4 {
    padding-top: 1.5rem!important;
}

.border-0 {
    border: 0!important;
}

.weatherForm {
    margin-left: 1.5rem!important;
    margin-right: 1.5rem!important;
    margin-bottom: 1rem!important;
    margin-top: 1rem!important;
}

.search-box {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.search-button {
    position: absolute;
    right: 5px;
    top: 0;
    bottom: 0;
    background: transparent;
    border: 0!important;
    margin: 0;
    overflow: visible;
}


.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.city-name, .my-0 {
    margin-bottom: 0!important;
    font-size: 1.5rem;
}

h4 {
    font-size: 1.5rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.text-muted {
    color: #6c757d!important;
}

.country-code {
    margin-bottom: 0.5rem!important;
    color: #6c757d!important;
}
.small, small {
    font-size: 80%;
    font-weight: 400;
}


h2 {
    font-size: 2rem;
}
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
}
h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.text-muted {
    color: #6c757d!important;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}

.text-center {
    text-align: center!important;
}

.sky {
    margin-bottom: 0.25rem!important;
    text-align: center!important;
}

.weather-forcast {
    display: flex;
    padding-right: 1rem;
    padding-left: 1rem;
    margin-top: auto;
    margin-right: -15px;
    margin-left: -15px;
    flex-wrap: wrap;
    
}

.week-day {
    width: 20%;
    background-color: #ccecf1;
    cursor: pointer;
    padding: 10px 0px;
    flex-direction: column;
    display: flex;
    border-bottom-left-radius: 5px;
}

.day {
    color: #6c757d;
    margin-bottom: 0;
}

img {
    vertical-align: middle;
    border-style: none;
}

.h5, h5 {
    font-size: 1.25rem;
}

 h5 {
    margin-bottom: 0.5rem;
    font-weight: 500;
    line-height: 1.2;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

strong {
    font-weight: bolder;
}